body {
  font-family: Lato, sans-serif;
  font-weight: 300
}

a {
  color: #333;
}

#body {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2;
  -ms-transition-animation-duration: 2s;
}

#main {
  text-align: center;
  transform: translateY(30%)
}

#main p {
  font-size: 18px
}

#main h1 {
  font-size: 35px
}

#main ul {
  padding: 0
}

#main li {
  display: inline;
  padding: 20px
}

.profile {
  height: 300px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-size: 100% auto;
  background-position: center;
  background-image: url('../img/profile.jpg');
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 50%;
  opacity: 0.95;
  box-shadow: 3px 3px 3px #F4E6E6;
}

#bio {
-webkit-animation-duration: 3s;
-moz-animation-duration: 3;
-ms-transition-animation-duration: 3s;
}

#name:hover {
  cursor: pointer;
}
